<!doctype html>
<html lang="eng">
    <head>
        <title>Contact Us</title>
    </head>
    <body>
        {% include 'header.html' %}
        <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('items') }}">Items</a></li>
        </ul>
        </nav>
        <main>
            <h1>Contact Us</h1>
            <p>The best ways to contact us!</p>
        </main>
        {% include 'footer.html' %}
    </body>
</html>