    <!doctype html>
    <html lang="eng">
        <head>
            <title>Items List</title>
        </head>
        <body>
            {% include 'header.html' %}
            <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('items') }}">Items</a></li>
            </ul>
            </nav>
            <main>
                <h1>Items List</h1>
                <p>All the best items!</p>
                {% for item in items %}
                <ul>
                <li>{{ item }}</li>
                </ul>
                {% else %}
                    <p>No items found</p>
                {% endfor %}
            </main>
            {% include 'footer.html' %}
            
        </body>
    </html>